#File: Station.config

# File di configurazione per le applicazioni relative alla gestione della Stazione Meteo
# Classe per il parsing: GetConfig.java
# Autore: adalborgo@gmail.com
# Tab   : 4
# Ver.  : 0.9
# Data  : 05/10/2023
# NOTA  : Attenzione al cambio tra rootOfXmlPath e rootOfXmlDataPath

#############################
# VERSIONE per WeatherHistory
#############################

# Default
deviceNumber = 1 

# Station
stationId = JN54WH+36@ITA-D458
MeteoNetworkId = ero317

# Coordinates
latitude  = 44.28639
longitude = -11.86993
altitude = 36

### ZoneId ###
# For file .xml, .htm, .csv
# Java ZoneId.of()
# Examples: UTC+1, Europe/Rome
# zoneId = UTC+1: Italian time without summer time
# If not assigned or error: zoneId = ZoneId.systemDefault()
zoneId = UTC+1

### TimeZone ###
# For file .js
# If not assigned or error: timezoneJS = TimeZone.getDefault()
timezoneJS = Europe/Rome

### Combilog ###
# deviceNumber = 01
# typeOfData = -1
# Porta seriale = {"1" | "2"} | porta di rete = "192.168.0.99:1111" | URL = http://
# loggerPort = 1
# loggerPort = 192.168.1.17:23

### MeteoProject Davis Meteofaenza ###
#typeOfData = 0
#loggerPort = https://www.meteoproject.it/ftp/stazioni/faenza/wflexp.json

### URL (http://www.meteosestola.it) ###
# typeOfData = 1
# Monte Cimone
# loggerPort = https://www.meteosystem.com/wlip/piancavallaro/piancavallaro.php
# Pavullo nel Frignano:
# loggerPort = https://www.meteosystem.com/wlip/pavullo/pavullo.php

### server-meteo ###
typeOfData = 2
loggerPort = https://www.meteofaenza.it/dati/today/data.js

# loggerPort = http://188.209.84.99/meteofa/data2/html/data.js
# WireGuard-wg0
#loggerPort = http://192.168.188.1/meteofa/data2/html/data.js

### Davis port for merge data of Combilog (direzione vento e pioggia) ###
# davisPort = https://www.meteoproject.it/ftp/stazioni/faenza/wflexp.json
# davisPort = http://192.168.1.2/wflexp.json

# Common.DATA_TYPE = 0: temperature, 1:humidity, 2:pressure, 3:wind, 4:windDir, 5:rain, 6:sunrad
minValues = -30f, 0f, 700f, 0f, 0f, 0f, 0f
maxValues = +50f, 100f, 1040f, 180f, 360f, 409.4f, 1500f

# Calibration sensor: value = offset + factor*x
# 0: temperature, 1:humidity, 2:pressure, 3:wind, 4:windDirection; 5:rain, 6:sunrad
offset = 0.0f, 0.0f, 0.0f, 0.0f, 0.0f, 0.0f, 0.0f
factor = 1.0f, 1.0f, 1.0f, 1.0f, 1.0f, 1.0f, 1.0f

# Save file flags
saveCsv = true
saveJs = true
saveHtml = true
saveGraph = true

# saveCurrent: controlla i file data.xml, data.htm, data.js, [graph]
saveCurrent = true

# Percorso archivio dati
### Linux ###
# rootOfPath = /var/www/html/meteofa/data2/
# rootOfPath = /var/www/html/meteofaenza/data/

### Windows ###
# Notebook
rootOfPath = D:/Meteo/data_test/

# PC fisso
#rootOfPath = F:/Server_meteo/data_test
